* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

button,
a {
  cursor: pointer;
}

input,
button {
  border: none;
  background-color: initial;
  padding: 0;
}

input {
  line-height: 1.5rem;
  border: 0.0625rem solid $grey-very-light;
  box-sizing: border-box;

  &:focus {
    border: 0.0625rem solid $vivid-cerulean;
    border-radius: 0.125rem;
    outline: none;
  }
}

button {
  &:focus {
    outline: auto;
  }
  &:not([type="submit"]) {
    display: flex;

    &:not([type="button"]):hover,
    &:not([type="button"]):focus {
      text-decoration: underline;
    }
  }
}

h1,
h2,
h4 {
  color: $grey-dark;
}

h1,
h2 {
  font-weight: 400;
}

h4 {
  font-weight: 600;

  @media (min-width: $mobile) and (max-width: $desktop) {
    line-height: 1.3125rem;
  }
  @media (min-width: $desktop) {
    line-height: 1.5rem;
  }
}

li:not(ul.search-results__no-results__suggestion-list li)::marker {
  content: "";
}
