* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

button,
a {
  cursor: pointer;
}

input,
button {
  border: none;
  background-color: initial;
  padding: 0;
}

input {
  line-height: 1.5rem;
  border: 1px solid $grey-very-light;

  &:focus {
    border: 1px solid $vivid-cerulean;
    border-radius: 0.125rem;
    outline: none;
  }
}

button {
  &:focus {
    outline: revert;
  }
  &:not([type="submit"]) {
    display: flex;

    &:not([type="button"]):hover,
    &:not([type="button"]):focus {
      text-decoration: underline;
    }
  }
}

h1,
h2 {
  color: $grey-dark;
  text-align: left;
  font-weight: 400;
}

h3 {
  font-weight: 600;
}

ul {
  padding-left: 0;

  li:not(ul.search-results__no-results__suggestion-list li)::marker {
    content: "";
  }
}

section {
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}
