// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 960px;

// Colors

// Red Colors
$dark-red: #430000;
$red-dark: #600000;
$red: #900000;
$red-bright: #c00000;
$red-light: #d04040;
$pink-light: #e08080;
$pink-very-light: #efbfbf;
$red-transparent: #ff004e1a;

// Grey Colors
$grey-dark: #333333;
$grey-medium: #666666;
$grey-light: #999999;
$grey-very-light: #dddddd;
$grey-ultra-light: #e6e6e6;

// Blue Colors
$dark-blue-grey: #23263b;
$vivid-cerulean: #0f6ccc;

// White Colors
$white-smoke: #f5f5f5;
$white: #ffffff;
