<section class="system-detail-container">
  <app-basic-data class="system-detail-container__basic-data-container"
    [algorithmicSystem]="algorithmicSystem"></app-basic-data>
  <app-tabs-data class="system-detail-container__tabs-data-container"
    (_setMarginTop)="setMarginTop($event)"></app-tabs-data>
  <aside class="system-detail-container__aside-container" [style.marginTop.px]="marginTop"
    aria-label="Documents i més informació pràctica">
    <app-more-information-card></app-more-information-card>
  </aside>
</section>