@import "../../../assets/scss/styles.scss";

.topic-card-link {
  text-decoration: none;
  display: flex;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0.5rem;
    color: $white;
    height: 19.5rem;

    &__description {
      line-height: 1.3rem;
    }

    h3 {
      font-weight: 600;
    }

    &:hover h3 {
      text-decoration: underline;
    }
  }
}

@media (min-width: $mobile) and (max-width: $desktop) {
  .topic-card-link__content {
    padding: 0 1.125rem 2.25rem;

    h3 {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }

    &__description {
      font-size: 0.875rem;
      line-height: 1.3125rem;
      letter-spacing: 0.015rem;
    }
  }
}
@media (min-width: $desktop) {
  .topic-card-link__content {
    padding: 0 2.25rem 1.3125rem;

    h3 {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    &__description {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}
