@import "../../../assets/scss/styles.scss";


.topic-card {
  display: flex;
  justify-content: center;
  width: 35.4rem;
  height: 19.3rem;
  align-items: center;
  text-decoration: none;

  &__content {
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 9.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 8px;
    
    &__body {
      line-height: 1.3rem;
    }

    // &__link {
    //   text-decoration: none;
    // }
  }

  h3 {
    font-weight: 500;
    @media (min-width: $mobile) {
      font-size: 1.25rem;
      line-height: 1.7rem;
    }
    @media (min-width: $tablet) {
      font-size: 1.5rem;
      line-height: 1.7rem;
    }
    @media (min-width: $desktop) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  &:hover h3 {
    text-decoration: underline;
  }
}

  @media (max-width: $tablet) {
    .topic-card {
      width: 21rem;
      height: 19.3rem;
    }
    .topic-card__content {
      padding-top: 5.3rem;
      padding-left: 1.2rem;
      padding-right: 2.2rem;

    &__body {
      line-height: 1.3rem;
      font-size: 0.875rem;
    }
    }
  }
