@import "../../../../assets/scss/styles.scss";

.tab-data-field-container {
  display: grid;
  grid-template-columns: 42% calc(58% - 2.6875rem);
  gap: 2.6875rem;

  &__static-content {
    padding: 0.625rem 1.5rem;
  }

  &__dynamic-content {
    padding: 0.625rem;
  }
}
