@import "../../../assets/scss/styles.scss";

section {
  display: grid;
  gap: 3.75rem;

  @media (min-width: $mobile) and (max-width: $desktop) {
    padding-top: 2rem;
  }
  @media (min-width: $desktop) {
    grid-template-columns: repeat(12, 1fr);
    padding-top: 3.25rem;

    .filters {
      grid-column: span 4;
    }

    .results {
      grid-column: span 8;
    }
  }
}
