<app-search-bar [hasFilterSelector]="false"></app-search-bar>
<section>
  <app-search-filters class="filters" (_filtersApplied)="filtersApplied($event)"></app-search-filters>
  <div class="results">
    <app-search-results [searchResults]="searchResults" [totalSearchResultsLength]="totalSearchResultsLength"
      (_changeView)="changeView($event)" (_setHeader)="setHeader($event)"></app-search-results>
    <app-search-pagination [totalPages]="totalPages" (_changePage)="changePage($event)"></app-search-pagination>
  </div>
</section>