<app-search-bar [hasFilterSelector]="false" (_barSubmitted)="getSearch($event)"></app-search-bar>
<section>
  <app-search-filters class="filters" (_filtersApplied)="getSearch($event)"></app-search-filters>
  <div class="results">
    <app-search-results [searchResults]="searchResults"
      [totalSearchResultsLength]="totalSearchResultsLength"></app-search-results>
    @if (totalPages > 0) {
    <app-search-pagination [totalPages]="totalPages" (_changePage)="changePage($event)"></app-search-pagination>
    }
  </div>
</section>