@import "../../../assets/scss/styles.scss";

section {
  display: grid;
  gap: 1.75rem;
}

@media (min-width: $desktop) {
  section {
    grid-template-columns: repeat(12, 1fr);

    .filters {
      grid-column: span 4;
    }

    .results {
      grid-column: span 8;
    }
  }
}
