@import "../../../assets/scss/styles.scss";

section {
  display: grid;

  @media (min-width: $mobile) and (max-width: $desktop) {
    gap: 3.25rem;
    padding-top: 2rem;
  }
  @media (min-width: $desktop) {
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 3.25rem;

    .filters {
      grid-column: span 4;
      margin-top: 1.875rem;
    }

    .results {
      grid-column: span 8;
    }
  }
}
