<a href="#" (click)="redirectToAlgorithmicSystemDetail($event, id)" title="{{ title }}">
  <div class="algorithmic-system-card-container">
    <span class="algorithmic-system-card-container__state"><img src="assets/icons/Oval_{{ stateColor }}.svg"
        alt="Estat del sistema algorítmic">{{ state }}</span>
    <h2 class="algorithmic-system-card-container__title">{{ title }}</h2>
    <div class="algorithmic-system-card-container__separator"></div>
    <p class="algorithmic-system-card-container__description">{{ description }}</p>
    <div class="algorithmic-system-card-container__category-chip-container">
      @for (categoryChip of categoryChips; track categoryChip) {
      <div class="algorithmic-system-card-container__category-chip">{{ categoryChip }}</div>
      }
    </div>
  </div>
</a>