@import "../../../../../assets/scss/styles.scss";

.basic-data-container {
  display: flex;
  flex-direction: column;
  color: $grey-dark;
  padding-bottom: 2rem;

  @media (min-width: $mobile) and (max-width: $desktop) {
    gap: 1.5rem;
  }
  @media (min-width: $desktop) {
    gap: 1rem;
  }

  &__state {
    display: flex;
    gap: 0.5rem;

    @media (min-width: $mobile) and (max-width: $desktop) {
      font-size: 0.875rem;
      line-height: 1.3125rem;
    }
    @media (min-width: $desktop) {
      font-size: 1rem;
    }
  }

  &__paragraph-container {
    display: flex;
    flex-direction: column;

    @media (min-width: $mobile) and (max-width: $desktop) {
      gap: 0.875rem;
    }
    @media (min-width: $desktop) {
      gap: 0.625rem;
    }
  }

  &__paragraph {
    font-weight: 600;
  }

  &__category-chip-container,
  &__tag-container {
    display: flex;
    gap: 0.625rem;
    flex-wrap: wrap;
  }

  &__category-chip,
  &__tag {
    border-radius: 0.25rem;
    width: fit-content;
    min-height: 1.25rem;
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    align-self: end;
    box-sizing: border-box;
  }

  &__category-chip {
    border: 0.0625rem solid $red-bright;
    background-color: $red-transparent;
  }

  &__tag {
    border: 0.0625rem solid $grey-dark;
    background-color: $white-smoke;
  }
}
