@if (algorithm) {
<div class="basic-data-container">
  <span class="basic-data-container__state"><img src="assets/icons/{{ normalized(algorithm.estat, true) }}-state.svg"
      alt="">{{
    algorithm.estat }}</span>
  <div class="basic-data-container__paragraph-container">
    <p class="basic-data-container__paragraph">Descripció breu</p>
    <p>{{ algorithm.descripcio }}</p>
  </div>
  <div class="basic-data-container__category-chip-container">
    <div class="basic-data-container__category-chip">{{ algorithm.tema }}</div>
  </div>
  <div class="basic-data-container__paragraph-container">
    <p class="basic-data-container__paragraph">Etiquetes</p>
    <div class="basic-data-container__tag-container">
      @if (algorithm.etiquetes) {
      @for (tag of algorithm.etiquetes.split(','); track $index) {
      <div class="basic-data-container__tag">{{ tag }}</div>
      }
      }
    </div>
  </div>
</div>
}