@import "../../../../../assets/scss/styles.scss";

.topic-cards-container {
  background-color: $white-smoke;

  &__wrapper {
    display: grid;
    width: 73.125rem;
    margin: auto;

    @media (min-width: $mobile) and (max-width: $desktop) {
      gap: 2rem;
    }
    @media (min-width: $desktop) {
      gap: 2.5rem;
    }
  }

  @media (min-width: $mobile) and (max-width: $desktop) {
    padding-top: 1rem;
    padding-bottom: 2rem;

    h2 {
      font-size: 1.375rem;
      line-height: 1.875rem;
    }
  }
  @media (min-width: $desktop) {
    padding-top: 2rem;
    padding-bottom: 3.4375rem;

    h2 {
      font-size: 1.875rem;
      line-height: 2.5rem;
    }

    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
