<div class="more-information-card-container">
  <h2 class="more-information-card-container__header">Més informació</h2>
  <p class="more-information-card-container__description">
    <span>Vols més informació sobre la intel·ligència artificial a la Generalitat de Catalunya? Consulta l'apartat <a
        href="https://administraciodigital.gencat.cat/ca/intelligencia-artificial/" target="_blank" rel="noopener"
        title="opens in a new window" aria-label="Més informació">Més informació.</a>
    </span>
    <span>Tens alguna pregunta sobre els sistemes d'IA i altres algorismes? Contacta amb nosaltres a través de:</span>
  </p>
  <a href="https://ovt.gencat.cat/gsitfc/AppJava/generic/conqxsGeneric.do?webFormId=391&topicLevel1.id=500&topicLevel2.id=36213&topicLevel3.id=36214&set-locale=ca_ES"
    target="_blank" rel="noopener" class="more-information-card-container__link" title="opens in a new window"
    aria-label="Bústia de contacte"><img src="assets/icons/contact-box.svg" alt="">Bústia de contacte</a>
</div>