@import "../../../../../assets/scss/styles.scss";

.more-information-card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  border: 1px solid $grey-very-light;

  @media (min-width: $mobile) and (max-width: $desktop) {
    margin-top: 1.5rem;
  }
  @media (min-width: $desktop) {
    margin-top: 2rem;
  }

  a {
    font-weight: 600;
    color: $red-bright;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__header {
    font-weight: 600;

    @media (min-width: $mobile) and (max-width: $desktop) {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
    @media (min-width: $desktop) {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }

  &__description {
    color: $grey-medium;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    letter-spacing: 0.25px;

    @media (min-width: $mobile) and (max-width: $desktop) {
      font-size: 0.875rem;
      line-height: 1.3125rem;
    }
    @media (min-width: $desktop) {
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    @media (min-width: $mobile) and (max-width: $desktop) {
      font-size: 0.875rem;
    }
    @media (min-width: $desktop) {
      font-size: 1rem;
    }
  }
}
