<div class="more-information-card-container">
  <h2 class="more-information-card-container__header">{{ translatedLiterals['system-detail.more-information.header'] }}
  </h2>
  <p class="more-information-card-container__description">
    <span>{{ translatedLiterals['system-detail.more-information.paragraphs.paragraph-1.text'] + ': ' }}<a
        href="https://administraciodigital.gencat.cat/ca/intelligencia-artificial/" rel="noopener" target="_blank"
        title="opens in a new window">{{
        translatedLiterals['system-detail.more-information.paragraphs.paragraph-1.link']
        }}</a>
    </span>
    <span>{{ translatedLiterals['system-detail.more-information.paragraphs.paragraph-2.text'] + ':' }}</span>
  </p>
  <a href="https://ovt.gencat.cat/gsitfc/AppJava/generic/conqxsGeneric.do?webFormId=391&set-locale=ca_ES" rel="noopener"
    target="_blank" class="more-information-card-container__link" title="opens in a new window"><img
      src="assets/icons/asset_34.svg" alt="Icona de bústia">{{
    translatedLiterals['system-detail.more-information.paragraphs.paragraph-2.link'] }}</a>
</div>