@import "../../../assets/scss/styles.scss";

.accordion-list {
  display: grid;

  @media (min-width: $mobile) and (max-width: $desktop) {
    gap: 0.75rem;
  }
  @media (min-width: $desktop) {
    gap: 0;
  }
}

.filter-accordion {
  color: $grey-black;
  border-bottom: 1px solid $grey-very-light;
  height: 3.5rem;
}

.tab-accordion {
  background-color: $white-smoke;
  color: $grey-dark;
  transition: all 0.4s ease;
  min-height: 3.5rem;

  &:hover {
    box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.12),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    text-decoration: underline;
  }
}

.accordion-container {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  text-align: left;

  &--rotate-left {
    transform: rotate(-180deg);
    transition: transform 0.5s ease;
  }

  &--rotate-right {
    transform: rotate(0deg);
    transition: transform 0.5s ease;
  }

  &__form-select {
    display: flex;
    flex-direction: column;

    @media (min-width: $mobile) and (max-width: $desktop) {
      width: 100%;
    }
    @media (min-width: $desktop) {
      width: 85%;
      padding-bottom: 1.25rem;
    }

    button {
      color: $grey-dark;
    }

    & > button {
      justify-content: space-between;
      align-items: center;
      padding: 0.75rem;
      font-size: 1rem;
      line-height: 1.5rem;

      &:focus {
        box-shadow: inset 0 0 0 1px $vivid-cerulean;
      }
    }

    form {
      position: relative;

      input {
        border-radius: 2px;
        height: 2.5rem;
        padding: 0.5rem 0 0.5rem 0.625rem;
        width: 100%;
        color: $grey-dark;
      }

      img {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    ul {
      box-shadow: 0px 1px 5px 0px #0000001f, 0px 2px 2px 0px #00000024,
        0px 3px 1px -2px #00000033;
      overflow-y: auto;
      max-height: calc(2.5rem * 5);

      &::-webkit-scrollbar {
        width: 0.25rem;
      }
      &::-webkit-scrollbar-track {
        margin-block: 0.25rem;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $grey-light;
        height: 6.8125rem;
        border-radius: 2px;
      }
      &::-webkit-scrollbar-button {
        display: none;
      }

      li {
        border-bottom: 1px solid $grey-very-light;

        &:hover {
          background-color: $white-smoke;
        }

        button {
          padding: 0.625rem 0 0.625rem 1rem;
          width: 100%;
          height: 2.5rem;
        }

        @media (min-width: $mobile) and (max-width: $desktop) {
          font-size: 0.875rem;
          line-height: 1.3125rem;
        }
        @media (min-width: $desktop) {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
    }

    &__label {
      &--visible {
        position: absolute;
        top: 0.5rem;
        left: 0.625rem;
        z-index: -1;
        color: $grey-medium;
      }
      &--hidden {
        display: block;
        width: 0;
        height: 0;
        overflow: hidden;
      }
    }
  }

  &__chips {
    ::ng-deep {
      button {
        background-color: $pink-very-light;
      }
    }
  }

  &__fields {
    box-shadow: 0px 0px 1px 0px #00000040;
    padding: 1.5rem 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
