@import "../../../assets/scss/styles.scss";

.banner-container {
  background-color: $white-smoke;

  nav {
    background-color: $white-smoke;

    ul {
      align-items: baseline;
      gap: 0.5rem;
      padding-top: 1.75rem;

      li,
      a {
        color: $grey-dark;
        line-height: 1rem;
        font-size: 0.75rem;
      }

      a {
        &::after {
          content: "";
          width: 1rem;
          height: 1rem;
          margin-left: 0.5rem;
          background-image: url("../../../assets/icons/Chevron_Small_Up.svg");
          background-repeat: no-repeat;
          display: inline-block;
          vertical-align: bottom;
        }
        &:hover {
          font-family: "Open Sans Bold", sans-serif;
        }
        &:focus {
          outline: 0.4px dotted $grey-dark;
        }
      }
    }
  }

  nav,
  ul.nav > li {
    border-top: none;
  }

  &__home-container {
    &__subheader {
      position: relative;

      img {
        width: 100%;
      }

      div:last-child {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba($white-smoke, 0.9);

        h2 {
          padding: 1.5rem 0;
        }
      }
    }
  }

  h1 {
    padding: 1.5rem 0;
  }
}

@media (min-width: $mobile) and (max-width: $desktop) {
  .banner-container {
    nav {
      display: none;
    }

    &__home-container {
      &__header,
      &__subheader img {
        display: none;
      }

      &__subheader {
        height: 18rem;

        div {
          &:first-of-type {
            height: 100%;
            background-image: url("../../../assets/images/Titulo+foto.svg");
            background-size: cover;
            background-position: center;
          }
          &:last-of-type h2 {
            font-size: 1.75rem;
            margin: 0 1rem;
          }
        }
      }
    }

    h1 {
      font-size: 1.75rem;
      line-height: 2.625rem;
      margin: 0 1rem;
    }
  }
}
@media (min-width: $desktop) {
  .banner-container {
    & > div:not(.banner-container__home-container) {
      max-width: 73.125rem;
      margin: auto;
    }

    nav {
      display: inherit;

      ul {
        display: flex;
      }
    }

    &__home-container {
      &__header,
      &__subheader img {
        display: inherit;
      }

      &__subheader {
        height: 100%;

        div {
          &:first-of-type {
            display: none;
          }
          &:last-of-type h2 {
            margin: 0 auto;
            font-size: 2rem;
            max-width: 73.125rem;
          }
        }
      }
    }

    h1 {
      font-size: 2.1875rem;
      line-height: 3rem;
      margin: 0 auto;
    }
  }
}
