<nav class="banner-container">
  <ul>
    <li><button type="button" (click)="redirectToIniciPage()">Inici</button></li>
    @if (currentView === 'home') {
    <li>Registre de sistemes d'IA</li>
    } @else {
    <li><button type="button" (click)="redirectToHomeView()">Registre de sistemes d'IA</button></li>
    @if (currentView === 'systems-searcher') {
    <li>Cercador de sistemes</li>
    } @else if (currentView === 'system-detail') {
    <li>{{ algorithmicSystemName }}</li>
    }
    }
  </ul>
  @if (currentView === 'home') {
  <h1 class="desktop-display">Registre d'IA</h1>
  <img class="desktop-display" src="assets/images/Imagen.svg" alt="Imatge de la capçalera">
  <img class="mobile-display" src="assets/images/Titulo+foto.svg" alt="Imatge de la capçalera">
  } @else if (currentView === 'systems-searcher') {
  <h1>Cerca un dels nostres sistemes</h1>
  } @else if (currentView === 'system-detail') {
  <h1>{{ algorithmicSystemName }}</h1>
  }
</nav>