<div class="wrapper">
  <div class="app-container">
    <app-banner [currentView]="currentView" [algorithmicSystemName]="algorithmicSystemDetails.title"
      (_changeView)="changeView()"></app-banner>
    <div [ngSwitch]="currentView">
      <app-home *ngSwitchCase="'home'" (_changeView)="changeView($event)" (_setDetails)="setDetails($event)"></app-home>
      <app-systems-searcher *ngSwitchCase="'systems-searcher'" (_changeView)="changeView($event)"
        (_setDetails)="setDetails($event)"></app-systems-searcher>
      <app-system-detail *ngSwitchCase="'system-detail'"
        [algorithmicSystem]="algorithmicSystemDetails"></app-system-detail>
    </div>
  </div>
  <app-footer></app-footer>
</div>