<div class="wrapper">
  <div>
    <app-banner [currentView]="currentView" [algorithmName]="algorithm.nom"></app-banner>
    <div class="main-container">
      @switch (currentView) {
      @case ('home') {
      <app-home></app-home>
      }
      @case ('systems-searcher') {
      <app-systems-searcher></app-systems-searcher>
      }
      @case ('system-detail') {
      <app-system-detail [algorithm]="algorithm"></app-system-detail>
      }
      }
    </div>
  </div>
  <app-footer></app-footer>
</div>