<div class="search-pagination-container">
  <section>
    <button type="button" (click)="handlePreviousPage(1)" [disabled]="pageSelected.isFirst"
      class="search-pagination-container__double-left-arrow-img-button"><img alt="Anar a la primera pàgina"></button>
    <button type="button" (click)="handlePreviousPage()" [disabled]="pageSelected.isFirst"
      class="search-pagination-container__left-arrow-img-button"><img alt="Anar a la pàgina anterior"></button>
    <button type="button" (click)="handlePreviousPage()" [disabled]="pageSelected.isFirst"
      class="search-pagination-container__page-navigation-button">anterior</button>
    @for (page of pages; track page) {
    <button type="button" (click)="handlePage(page)"
      [ngClass]="{'search-pagination-container__page-number-button--selected': page === currentPage}"
      class="search-pagination-container__page-number-button">{{page}}</button>
    }
    <button type="button" (click)="handleNextPage()" [disabled]="pageSelected.isLast"
      class="search-pagination-container__page-navigation-button">següent</button>
    <button type="button" (click)="handleNextPage()" [disabled]="pageSelected.isLast"
      class="search-pagination-container__right-arrow-img-button"><img alt="Anar a la pàgina següent"></button>
    <button type="button" (click)="handleNextPage(totalPages)" [disabled]="pageSelected.isLast"
      class="search-pagination-container__double-right-arrow-img-button"><img alt="Anar a l'última pàgina"></button>
  </section>
  <p>Total de pàgines: {{totalPages}}</p>
</div>
<div class="search-pagination-container">
  <button type="button" (click)="handlePreviousPage()" [disabled]="pageSelected.isFirst"
    class="search-pagination-container__left-arrow-img-button search-pagination-container__left-arrow-img-button--mobile"><img
      alt="Anar a la pàgina anterior"></button>
  <p>Pàgina {{currentPage}}</p>
  <button type="button" (click)="handleNextPage()" [disabled]="pageSelected.isLast"
    class="search-pagination-container__right-arrow-img-button search-pagination-container__right-arrow-img-button--mobile"><img
      alt="Anar a la pàgina següent"></button>
</div>