@import "../../../../../../assets/scss/styles.scss";

.search-pagination-container {
  display: flex;
  align-items: center;

  &:first-of-type {
    flex-direction: column;
    gap: 0.5rem;
  }
  &:last-of-type {
    justify-content: center;
    gap: 2rem;
  }

  button {
    &:focus {
      outline: none;
    }
    &:disabled {
      cursor: default;
    }
  }

  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  &__double-left-arrow-img-button {
    img {
      content: url("../../../../../../assets/icons/Double-left-arrow_red.svg");
    }

    &:disabled img {
      content: url("../../../../../../assets/icons/Double-left-arrow_grey.svg");
    }
  }

  &__left-arrow-img-button {
    img {
      content: url("../../../../../../assets/icons/Left-arrow_red.svg");
    }

    &:disabled img {
      content: url("../../../../../../assets/icons/Left-arrow_grey.svg");
    }
  }

  &__right-arrow-img-button {
    img {
      content: url("../../../../../../assets/icons/Right-arrow_red.svg");
    }

    &:disabled img {
      content: url("../../../../../../assets/icons/Right-arrow_grey.svg");
    }
  }

  &__left-arrow-img-button--mobile,
  &__right-arrow-img-button--mobile {
    img,
    &:disabled img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__double-right-arrow-img-button {
    img {
      content: url("../../../../../../assets/icons/Double-right-arrow_red.svg");
    }

    &:disabled img {
      content: url("../../../../../../assets/icons/Double-right-arrow_grey.svg");
    }
  }

  &__page-navigation-button {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: $red-bright;

    &:disabled {
      color: $grey-medium;
    }
  }

  &__page-number-button {
    font-weight: 600;
    width: 2rem;
    height: 2rem;
    color: $red-bright;
    align-items: center;
    justify-content: center;

    &--selected {
      background-color: $white-smoke;
      color: $grey-dark;
    }
  }

  & > p {
    color: $grey-dark;
  }
  &:first-of-type > p {
    font-size: 0.875rem;
    line-height: 1.3125rem;
    font-weight: 600;
  }
  &:last-of-type > p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
  }
}

@media (min-width: $mobile) and (max-width: $desktop) {
  .search-pagination-container:first-of-type {
    display: none;
  }
  .search-pagination-container:last-of-type {
    display: flex;
    margin-bottom: 2rem;
  }
}
@media (min-width: $desktop) {
  .search-pagination-container:first-of-type {
    display: flex;
    margin-bottom: 4rem;
  }
  .search-pagination-container:last-of-type {
    display: none;
  }
}
