@import "../../../../../../assets/scss/styles.scss";

.search-pagination-container {
  display: flex;
  align-items: center;

  &__page-navigation-button {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: $red-bright;

    &:disabled {
      color: $grey-medium;
    }
  }

  &__page-number-button {
    font-weight: 600;
    width: 2rem;
    height: 2rem;
    color: $red-bright;
    align-items: center;
    justify-content: center;

    &:disabled {
      background-color: $white-smoke;
      color: $grey-dark;
    }
  }

  section {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

@media (min-width: $mobile) and (max-width: $desktop) {
  .search-pagination-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;

    &__left-arrow,
    &__right-arrow {
      width: 1.5rem;
      height: 1.5rem;
    }

    button:not(:nth-of-type(2)):not(:nth-last-child(2)) {
      display: none;
    }

    section {
      gap: 1.125rem;

      p {
        display: block;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
        color: $grey-medium;
      }
    }

    & > p {
      display: none;
    }
  }
}
@media (min-width: $desktop) {
  .search-pagination-container {
    margin-top: 1.25rem;
    margin-bottom: 4rem;
    flex-direction: column;
    gap: 0.5rem;

    &__left-arrow,
    &__right-arrow {
      width: auto;
      height: auto;
    }

    button:not(:nth-of-type(2)):not(:nth-last-child(2)) {
      display: block;
    }

    section {
      gap: 0.5rem;

      p {
        display: none;
      }
    }

    & > p {
      display: block;
      font-size: 0.875rem;
      line-height: 1.75rem;
      font-weight: 600;
      color: $grey-dark;
    }
  }
}
