@import "../../../assets/scss/styles.scss";

.footer-container {
  span {
    display: block;
    color: $grey-dark;
  }

  &__icons-group {
    display: flex;
    flex-wrap: wrap;

    img {
      height: clamp(1.5rem, 4vw + 0.5rem, 3.5rem);
    }
  }

  @media (min-width: $mobile) and (max-width: $desktop) {
    margin: 1.5rem 2.125rem 2.125rem;

    span {
      font-size: 0.625rem;
      line-height: 1rem;
    }
  }
  @media (min-width: $mobile) and (max-width: $tablet) {
    img {
      &:nth-child(2) {
        margin-left: auto;
      }
      &:nth-child(3) {
        flex-basis: 100%;
        margin: 1.5rem auto 0;
      }
    }
  }
  @media (min-width: $tablet) {
    img {
      &:nth-child(2) {
        margin-left: 1.5rem;
      }
      &:nth-child(3) {
        flex-basis: auto;
        margin: 0 0 0 auto;
      }
    }
  }
  @media (min-width: $desktop) {
    margin: 2.5rem auto 3.125rem;
    max-width: 70.625rem;

    span {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}
