@import "../../../../../assets/scss/styles.scss";

.searcher-filter-container {
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;

    @media (min-width: $desktop) {
      margin-bottom: 1rem;
    }

    h2 {
      letter-spacing: 0.25px;
      color: $grey-black;
      line-height: 1.25rem;
    }

    button {
      color: $red-bright;
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 1.3125rem;
    }
  }
}
