@import "../../../../../assets/scss/styles.scss";

.searcher-filter-container {
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.25rem;
    padding: 0 0.5rem;

    @media (min-width: $desktop) {
      margin-bottom: 1rem;
    }

    h2 {
      letter-spacing: 0.015rem;
      color: $grey-black;
      font-weight: 400;

      @media (min-width: $mobile) and (max-width: $desktop) {
        font-size: 1.25rem;
      }
      @media (min-width: $desktop) {
        font-size: 1.5rem;
      }
    }

    button {
      color: $red-bright;
      font-weight: 600;
      line-height: 2rem;
    }
  }
}
