@import "../../../assets/scss/styles.scss";

div {
  width: 100%;
  display: grid;

  a {
    color: $red-bright;
    font-weight: 600;
    display: flex;
    gap: 0.25rem;
    justify-self: end;
    align-items: center;
  }
}
