@import "../../../assets/scss/styles.scss";

div {
  width: 100%;
  display: grid;

  button {
    color: $red-bright;
    font-weight: 600;
    gap: 0.25rem;
    justify-self: end;
    align-items: center;

    @media (max-width: $desktop) {
      font-size: 0.875rem;
      line-height: 1.3125rem;
    }
    @media (min-width: $desktop) {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}
