@import "../../../assets/scss/styles.scss";

::ng-deep button:not(form button) {
  @media (min-width: $mobile) and (max-width: $desktop) {
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }
  @media (min-width: $desktop) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: $mobile) and (max-width: $desktop) {
    padding: 1rem;
  }
  @media (min-width: $desktop) {
    padding: 2rem 7.5rem;
  }
}
