<section class="current-algorithmic-systems-container">
  <app-systems-searcher-link class="current-algorithmic-systems-section-container__link"
    (_changeView)="setView()"></app-systems-searcher-link>
  <h1>Sistemes Algorísmics recents</h1>
  <div class="algorithmic-systems-card-container">
    @for (algorithmicSystem of algorithmicSystems; track $index) {
    <app-algorithmic-system-card [algorithmicSystem]="getAlgorithmicSystemDetails(algorithmicSystem)"
      (_changeView)="setView($event)" (_setHeader)="setHeader(algorithmicSystem.id)"></app-algorithmic-system-card>
    }
  </div>
  <app-systems-searcher-link class="current-algorithmic-systems-section-container__link"
    (_changeView)="setView()"></app-systems-searcher-link>
</section>