<section class="current-algorithmic-systems-section-container">
  <app-systems-searcher-link class="current-algorithmic-systems-section-container__link"
    (_changeView)="changeView('systems-searcher')"></app-systems-searcher-link>
  <h1>Sistemes Algorísmics recents</h1>
  <div>
    @for (algorithmicSystem of algorithmicSystems; track $index) {
    <app-algorithmic-system-card [stateColor]="getStateColor(algorithmicSystem.state)" [state]="algorithmicSystem.state"
      [title]="algorithmicSystem.title" [description]="algorithmicSystem.description"
      [categoryChips]="algorithmicSystem.categoryChips" (_changeView)="changeView('system-detail')"
      (_setHeader)="setHeader(algorithmicSystem.id)"></app-algorithmic-system-card>
    }
  </div>
  <app-systems-searcher-link class="current-algorithmic-systems-section-container__link"
    (_changeView)="changeView('systems-searcher')"></app-systems-searcher-link>
</section>