@import "../../../../../assets/scss/styles.scss";

.current-algorithmic-systems-section-container {
  gap: 1rem;
}

@media (min-width: $mobile) and (max-width: $desktop) {
  .current-algorithmic-systems-section-container {
    margin-top: 1.75rem;

    &__link:last-child {
      display: none;
    }
  }
}
@media (min-width: $desktop) {
  .current-algorithmic-systems-section-container {
    margin-top: 0;

    h1 {
      padding-top: 0;
    }

    &__link:first-child {
      display: none;
    }
  }
}
@media (min-width: $desktop) and (max-width: $large-desktop) {
  .current-algorithmic-systems-section-container div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: $large-desktop) {
  .current-algorithmic-systems-section-container div {
    grid-template-columns: repeat(4, 1fr);
  }
}
