<div class="banner-container">
  <div>
    <nav aria-label="Navegació del bàner">
      <ul>
        <li><a href="https://administraciodigital.gencat.cat/ca/inici/" aria-label="Inici">Inici</a></li>
        <li>
          @if (currentView === 'home') {
          Registre de sistemes d'intel·ligència artificial i altres algorismes
          } @else {
          <a href="#" (click)="redirectToHomeView($event)" aria-label="Registre de sistemes d'intel·ligència artificial i altres
          algorismes">Registre de sistemes d'intel·ligència artificial i altres
            algorismes</a>
          }
        </li>
        <li>
          @if (currentView === 'systems-searcher') {
          Cercador de sistemes
          } @else if (currentView === 'system-detail') {
          {{ algorithmName }}
          }
        </li>
      </ul>
    </nav>
    @switch (currentView) {
    @case ('home') {
    <h1 class="banner-container__home-container__header">Registre de sistemes d'intel·ligència artificial i altres
      sistemes</h1>
    }
    @case ('systems-searcher') {
    <h1>Cerca els sistemes de la Generalitat</h1>
    }
    @case ('system-detail') {
    <h1>{{ algorithmName }}</h1>
    }
    }
  </div>
  @if (currentView === 'home') {
  <div class="banner-container__home-container">
    <div class="banner-container__home-container__subheader">
      <img src="assets/images/desktop-banner-background.svg" alt="">
      <div></div>
      <div>
        <h2>Cerca els sistemes de la Generalitat</h2>
      </div>
    </div>
  </div>
  }
</div>