<div class="documents-container">
  <div class="documents-container__content">
    <h2 class="documents-container__content__header">Documents</h2>
    <ul class="documents-container__content__list">
      @for (document of documents; track $index) {
      <li class="documents-container__content__list__item">
        <img src="assets/icons/link-bullet.svg" alt="">
        <button type="button">
          <span>{{ document.name }}</span>
          <img src="assets/icons/xlxs-format.svg" alt="">
          <span>[{{ document.size }}]</span>
        </button>
      </li>
      }
    </ul>
  </div>
</div>