<section class="searcher-container">
  <form class="searcher-container__form" aria-label="Cercador">
    <label for="search-input"
      [ngClass]="{'searcher-container__form__label': !hasInputValue, 'visually-hidden': hasInputValue}">Cerca
      per...</label>
    <input [style.width]="!hasFilterSelector && '100%'" id="search-input" type="text" (input)="handleInput($event)"
      (keydown)="handleSearch($event)">
    @if (hasFilterSelector) {
    <button type="button" (click)="handleCategorySelect()" class="searcher-container__form__category-button"
      [attr.aria-expanded]="isFilterVisible" aria-controls="category-filter">{{ categorySelected || 'Filtra per categoria' }}
      <img src="assets/icons/select-divisor.svg" alt="">
      <img src="assets/icons/select.svg" alt="">
    </button>
    <div id="category-filter" [hidden]="!isFilterVisible" class="searcher-container__filter">
      @if (currentSearches.length > 0) {
      <section class="searcher-container__filter__section" id="current-searches">
        <div class="searcher-container__filter__section__header">
          <h3>Cerques recents</h3>
          <button class="searcher-container__filter__section__header__button" (click)="resetSearch()">{{ isDesktop ? 'Restaurar recents' :
            'Restaurar' }}</button>
        </div>
        @for (currentSearch of currentSearches; track currentSearch; let i = $index) {
        <div class="searcher-container__filter__section__current-search-container">
          <a href="#" (click)="redirectToSystemsSearcherView({currentSearch})">
            <img src="assets/icons/current-search-redirection.svg" alt="">{{ currentSearch }}
          </a>
          <button (click)="deleteSearch(i)" aria-label="Borrar cerca recent">
            <img src="assets/icons/current-search-delete.svg" alt="">
          </button>
        </div>
        }
      </section>
      }
      <section class="searcher-container__filter__section" id="popular-categories">
        <h3>Categories populars</h3>
        <app-chips [isFilter]="false" [chips]="popularCategories" (_selectChip)="selectCategory($event)"></app-chips>
      </section>
      <app-systems-searcher-link></app-systems-searcher-link>
    </div>
    }
    <button (click)="handleSearch($event)" class="searcher-container__form__search-button" type="submit">
      <span class="visually-hidden">Cercar</span>
      Cerca
    </button>
  </form>
</section>