@for (accordionItem of accordionList; track accordionItem.name) {
<button type="button" (click)="toggle(accordionItem.id)" class="accordion-container">{{
  accordionItem.name }}<img src="assets/icons/Icon_angle-down.svg" alt="Fletxa d'expansió del contingut desplegable"
    [ngClass]="{'accordion-container--rotate-left': toggleStates[accordionItem.id].rotation, 'accordion-container--rotate-right': !toggleStates[accordionItem.id].rotation}"></button>
@if (toggleStates[accordionItem.id].display) {
@if (accordionItem.chips) {
<app-chips [chips]="accordionItem.chips" [optionsSelected]="getOptionsSelected(accordionItem.id)" [customStyles]="{ 'padding': '1.25rem 0',
    'font-size': '0.875rem', 'background-color': '#EFBFBF' }" (_selectChip)="selectChip($event)"
  (_deselectChip)="deselectChip($event)"></app-chips>
} @else {
@if (hasTagsSelected && !resetTagsSelected) {
<app-chips [customStyles]="{ 'padding': '1.25rem 0',
      'font-size': '0.875rem', 'background-color': '#EFBFBF' }"
  [optionsSelected]="getOptionsSelected(accordionItem.id)" (_selectChip)="selectChip($event)"
  (_deselectChip)="deselectChip($event, accordionItem.id)"></app-chips>
}
<div class="accordion-container__form-select"
  [ngClass]="{'accordion-container__form-select--padding-top': !hasTagsSelected || resetTagsSelected}">
  <button type="button" (click)="handleTagSelect()">Selecciona<img src="assets/icons/Icon_angle-down.svg"
      alt="Fletxa d'expansió del contingut desplegable"
      [ngClass]="{'accordion-container--rotate-left': isSelectorRotated, 'accordion-container--rotate-right': !isSelectorRotated}"></button>
  @if (isSelectorRotated) {
  <form aria-label="Cercador d'etiquetes">
    <label for="tag-input"
      [ngClass]="{'accordion-container__form-select__label--visible': !hasInputValue, 'accordion-container__form-select__label--hidden': hasInputValue}">Cerca</label>
    <input id="tag-input" type="text" (input)="handleInput($event)">
    <button type="submit"><img src="assets/icons/Buscador_Boton_Buscador.svg" alt="Botó del cercador"></button>
  </form>
  @if (filteredTags.length > 0) {
  <ul>
    @for (tag of filteredTags; track tag) {
    <button type="button" (click)="selectChip($event, tag)">{{ tag }}</button>
    }
  </ul>
  }
  }
</div>
}
}
}