@import "../../../../assets/scss/styles.scss";

.accordion-container {
  align-items: center;
  justify-content: space-between;
  color: $grey-black;
  width: 100%;
  font-weight: 600;
  padding: 1rem;
  border-bottom: 0.0625rem solid $grey-very-light;

  &--rotation {
    transform: rotate(180deg);
  }

  &__form-select {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.25rem;

    &--padding-top {
      padding-top: 1.25rem;
    }

    @media (min-width: $mobile) and (max-width: $desktop) {
      width: 100%;
    }
    @media (min-width: $desktop) {
      width: 85%;
    }

    button {
      color: $grey-dark;
    }

    & > button {
      justify-content: space-between;
      align-items: center;
      padding: 0.75rem;
      font-size: 1rem;
      line-height: 1.5rem;

      &:focus {
        box-shadow: inset 0 0 0 0.0625rem $vivid-cerulean;
      }
    }

    form {
      position: relative;

      input {
        border-radius: 2px;
        height: 2.5rem;
        padding: 0.5rem 0 0.5rem 0.625rem;
        width: 100%;
        color: $grey-dark;
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    ul {
      padding-left: 0;
      box-shadow: 0px 1px 5px 0px #0000001f, 0px 2px 2px 0px #00000024,
        0px 3px 1px -2px #00000033;

      li {
        padding: 0.625rem 0 0.625rem 1rem;
        cursor: pointer;
        border-bottom: 0.0625rem solid $grey-very-light;
        height: 2.5rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        &:hover {
          background-color: $white-smoke;
        }

        button {
          width: 100%;

          @media (min-width: $mobile) and (max-width: $desktop) {
            font-size: 0.875rem;
            line-height: 1.3125rem;
          }
          @media (min-width: $desktop) {
            font-size: 1rem;
            line-height: 1.5rem;
          }
        }
      }
    }

    &__label {
      &--visible {
        position: absolute;
        top: 0.5rem;
        left: 0.625rem;
        z-index: -1;
        color: $grey-medium;
      }
      &--hidden {
        display: block;
        width: 0;
        height: 0;
        overflow: hidden;
      }
    }
  }

  &__chips {
    ::ng-deep {
      button {
        background-color: $pink-very-light;
      }
    }
  }
}
