@import "../../../assets/scss/styles.scss";

div {
  display: flex;
  gap: 0.625rem;
  flex-wrap: wrap;

  button {
    display: block;
    padding: 0 0.75rem;
    border: 0.0625rem solid $red-bright;
    border-radius: 1rem;
    height: 1.75rem;
    color: $grey-dark;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: rgba(192, 0, 0, 0.1);
      text-shadow: 0 0 0.009375rem $grey-dark, 0 0 0.009375rem $grey-dark;
    }
  }
}
