<ul class="chips-container" [style.padding]="isFilter ? '1.25rem 0 ' + (isDesktop ? '1.25rem' : '0') : '0'">
  @for (chipSelected of chipsSelected; track $index) {
  <li>
    <span>{{ chipSelected }}</span>
    <button (click)="deselectChip(chipSelected)">
      <img src="assets/icons/Cross_icon.svg" alt="Desfer la selecció de la xip">
    </button>
  </li>
  }
  @for (chip of chips; track $index) {
  @if (!chipsSelected?.includes(chip)) {
  <li><button type="button" (click)="selectChip(chip)" [title]="chip">
      <span>{{ chip }}</span>
    </button></li>
  }
  }
</ul>