<section class="current-algorithmic-systems-container">
  <app-systems-searcher-link class="current-algorithmic-systems-container__link"></app-systems-searcher-link>
  @if (algorithms.length > 0) {
  <h2>Últims sistemes actualitzats</h2>
  <ul class="current-algorithmic-systems-container__cards">
    @for (algorithm of algorithms; track $index) {
    <li><app-algorithmic-system-card [algorithm]="algorithm"></app-algorithmic-system-card></li>
    }
  </ul>
  }
  <app-systems-searcher-link class="current-algorithmic-systems-container__link"></app-systems-searcher-link>
</section>