@if (field) {
<div class="tab-field-container">
  <div class="tab-field-container__static-content">
    <p class="tab-field-container__static-content__field">{{field.field}}
      @if (field.description) {
      <button (click)="toggleFieldDescription()"><img src="assets/icons/tooltip.svg" alt="Mostrar descripció"></button>
      }
    </p>
    @if (field.description?.isVisible) {
    <p class="tab-field-container__static-content__description">{{field.description?.text}}</p>
    }
  </div>
  <p [innerHTML]="field.content" class="tab-field-container__dynamic-content"></p>
</div>
}