@import "../../../assets/scss/styles.scss";

.footer-container {
  span {
    color: $grey-dark;
  }

  &__icons-group {
    display: flex;

    div img {
      &:first-child {
        max-width: 40%;
      }
      &:last-child {
        max-width: 60%;
      }
    }

    & > img {
      align-self: center;
    }
  }

  @media (min-width: $mobile) and (max-width: $desktop) {
    padding: 1.5rem 2.125rem 2.125rem;

    span {
      font-size: 0.625rem;
    }

    &__icons-group {
      flex-direction: column;

      & > img {
        margin-top: 1.5rem;
        max-width: 60%;
      }
    }
  }
  @media (min-width: $desktop) {
    padding: 2.5rem 8.75rem 3.125rem;

    span {
      font-size: 1rem;
    }

    &__icons-group {
      flex-direction: row;
      justify-content: space-between;

      div {
        max-width: 50%;
      }

      & > img {
        margin-top: 0;
        max-width: 40%;
      }
    }
  }
}
