@import "../../../../../../assets/scss/styles.scss";

.topic-card-link {
  text-decoration: none !important;
  position: relative;

  &--before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0.5rem;
    color: $white;
    background: rgba(0, 0, 0, 0.6);
    position: relative;

    &__description {
      line-height: 1.3rem;
    }

    &:hover h3 {
      text-decoration: underline;
    }
  }
}

@media (min-width: $mobile) and (max-width: $desktop) {
  .topic-card-link__content {
    padding: 0 1.125rem 2.25rem;
    height: 19.5rem;

    &__title {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }

    &__description {
      font-size: 0.875rem;
      line-height: 1.3125rem;
      letter-spacing: 0.25px;
    }
  }
}
@media (min-width: $desktop) {
  .topic-card-link__content {
    padding: 0 2.25rem 1.3125rem;
    height: 19.3125rem;

    &__title {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    &__description {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}
